<div class="container">

<div class="container mt-1" >
    <nav class="navbar navbar-expand-lg   shadow-sm d-flex justify-content-center">
      <a class="navbar-brand " href="#">Achat et Vente</a>
    </nav>
  </div>
  <div class="mb-3 mt-2 text-center" style="text-transform:uppercase;font-size: large; font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(87, 84, 78);" >
    Nous somme a votre ecoute.
</div>  
  

<div class="container">
    <div class="border border-info shadow-lg">
        <h2 style="background-color: rgb(42, 144, 228);">Veillez entrer vos informations</h2>
        <div class="container">
        <form>
            <div class="form">
                <div class="form-group" style="width: 70%;">
                    <label for="inputPseudo4">Pseudo</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Pseudo">
                </div>
            <div class="form-group" style="width: 70%;">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
            
            </div>
            <div class="form-group" style="width: 70%;">
            <label for="inputAddress">Ou ete vous ?</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Votre ville">
            </div>
            <div class="form-group" style="width: 70%;">
            <label for="inputAddress2">Quartier</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Votre Quartier">
            </div>
            
            <button type="submit" class="btn btn-primary mb-2">Valider</button>
        </form>
        </div>
    </div>
</div>
</div>