<div class="container mt-1">
  <nav class="navbar navbar-expand-lg   shadow-sm d-flex justify-content-center">
    <a class="navbar-brand text-success" href="#">Achat et Vente</a>
  </nav>
</div>




<div class="container mt-4 text-center">
    <div class="mb-5" style="text-transform:uppercase;font-size: large; font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: orange;" >
      Nom de l'annonce : Equipements professionels
    </div>
    
    <div class="mb-3 d-flex">
      
      <span class="Ctrie">Occasions 236</span>
      <span class="Ctrie">Professionnels 123</span>
    <select name="recent" id="list-details" class="Ctrie">
      <option >Plus récentes</option>
      <option >Croissant </option>
      <option >Decroissant</option>
    </select>
  </div>


<div class="row">
<div class="col-md-3"   *ngFor="let madescprod of Descprod ">
    <div class="card mb-3 shadow p-3 mb-5 bg-white rounded">
    <a [routerLink]="[madescprod.categorie]"> <img class="card-img-top img-fluid" src={{madescprod.img}} alt="Card image cap"></a>
      <div class="card-body">
      <h4 class="text-center">{{madescprod.Nom}}</h4>
        <ul class="list-unstyled Lcard">
          <li class="card-text font-size">Categorie: {{madescprod.categorie}}</li>
          <li class="card-text">Lieux: {{madescprod.Lieu}}</li>
          <li class="card-text">Prix: {{madescprod.Prix}}</li>
          <li class="card-text">Situation : {{madescprod.Situation}}</li>
          <li class="card-text">Interesent pour: {{madescprod.Interet}}</li>
      </ul>
        <div class="d-flex justify-content-center">
          
          <small class="text-muted">2h 6mn</small>
        </div>
      </div>
    </div>
  </div>
</div>
</div>