<div class="container">
    <div class="mt-1" >
        <nav class="navbar navbar-expand-lg   shadow-sm d-flex justify-content-center">
          <a class="navbar-brand " href="#">Achat et Vente</a>
        </nav>
    </div>
    <br><br>
    <div class="row">
    <div class="col-4 mb-1">
    <img src={{img}} alt="img produit" class="border img-fluid" style="width: 20rem;height: 10rem;">
    </div>
    <div class="col-8">
    <p style="font-size:2rem;font-weight: bolder;">Nom : {{nom}}</p>
    <p style="font-size:large;">vaux : {{prix}}</p>
    <p class="badge" style="font-size: 1rem;">Lieu :{{lieu}}</p>
    <p>Situation : {{situation}}</p>
    </div>
    
    </div>
    <div style="width: 50rem;" class="border-top">
        <h3>Description</h3>
        <p> {{description}} </p>
    </div>
    <a class="btn btn-primary" href="Detail">ça vous interesse ?</a>
</div>  