<div class="container-fluid">
    <header> <!--creation de la barre de navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-info">

            <a class="navbar-brand" href="#">
                <img src="#" class="d-inline-block align-top img-fluid" alt="Logo">
            </a>

            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
              <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="#">Que desirez-vous <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Annonce recentes</a>
                <a class="nav-item nav-link" href="#">Aide ?</a>
              </div>
            </div>
          </nav>
    
    </header> <!-- Fin creation de la barre de navigation -->
    <body> <!--le body -->

        <div class="row">
            <div class="col-12 desc mb-1">
                
                

                <ngb-carousel class="mt-1" >
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper img-main-carousel">
                        <img src="../../assets/Image_projet/pablo(1).png" alt="Random first slide" class="w-100">
                      </div>
                      <div class="carousel-caption">
                        <h3>Votre espace de vente</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper img-main-carousel">
                        <img src="../../assets/Image_projet/bgp.png" alt="Random second slide" class="w-100">
                      </div>
                      <div class="carousel-caption">
                        <h3>Demandez,on trouve</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper img-main-carousel">
                        <img src="../../assets/Image_projet/pablo.png" alt="Random third slide"class="w-100">
                      </div>
                      <div class="carousel-caption">
                        <h3></h3>
                        <p></p>
                      </div>
                    </ng-template>
                  </ngb-carousel>

            </div>
            <hr>
        </div>
        <div class="row mt-1">
            
            <div class="col-12 col-sm-3">
                <section class="card">
                    <div>
                        <img src="../../assets/Image_projet/965.JPG" alt="voiture" class="card-img-top img-fluid card-img">
                    </div>
                    <div class="card-body">
                    
                        <span class="h3 card-title">Vehicules</span>
                        <ul>
                            <li routerLinkActive="active"><a routerLink="offredemande">Voitures</a></li>
                            <li> <a href="#">Motos</a></li>
                            <a href="#"><li>Camions</li></a>
                            <a href="#"><li>Equipement auto</li></a>
                            <a href="#"><li>Equipement moto</li></a>
                        </ul>
                    </div>
                   
                </section>
            </div>
            <div class="col-12 col-sm-3">
                <section class="card">
                    <div>
                        <img src="../../assets/Image_projet/115photo1.jpg" alt="maison" class="card-img-top img-fluid card-img">
                    </div>
                    <div class="card-body">
                        <span class="h3 card-title">Maison</span>
                        <ul>
                            <a href="#"><li>Jardinage</li></a>
                            <a href="#"><li>Linge de maison</li></a>
                            <a href="#"><li>Electromenager</li></a>
                            <a href="#"><li>Decoration</li></a>
                            <a href="#"><li>Femme de menage</li></a>
                        </ul>
                    </div>
                   
                </section>
            </div>
            <div class="col-12 col-sm-3">
                <section class="card">
                    <div>
                        <img src="../../assets/Image_projet/95.JPG" alt="voiture" class="card-img-top img-fluid card-img">
                    </div>
                    <div class="card-body">
                        <span class="h2 text-center card-title">Materiel Professionnel</span>
                        <ul>
                            <a href="#"><li>Materiel agricol</li></a>
                            <a href="#"><li>Fourniture de bureau</li></a>
                            <a href="#"><li>Materiel medecinal</li></a>
                            <a href="#"><li>Equipement industriels</li></a>
                            <a href="#"><li>Prestation de service</li></a>
                        </ul>
                    </div>
                   
                </section>
            </div>
            <div class="col-12 col-sm-3">
                <section class="card">
                    <div>
                        <img src="../../assets/Image_projet/Logo site.png" alt="voiture" class="card-img-top img-fluid card-img">
                    </div>
                    <div class="card-body">
                        <span class="h3 card-title">Immobilier</span>
                        <ul>
                            <a href="#"><li>Ventes immobilieres</li></a>
                            <a href="#"><li>Location</li></a>
                            <a href="#"><li>Bureaux</li></a>
                            <a href="#"><li>Place de vente</li></a>
                            <a href="#"><li>Services Immobiliers</li></a>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </body>

    <footer class="bg-light">
        <div class="container">
            <hr>
            <p style="margin-bottom:0;">&copy; Codesheets 2019 </p>
        </div>
        
    </footer>
    
</div>  