li{
    list-style:none;
}
.description{
    font-size: 1.3rem;
    font-weight: 600;
    color: wheat;
    background-image: url("../../assets/Image_projet/bgp.png");

}
.card-img{
    width: 100%!important;
    height: 200px!important;
    object-fit: cover;
 }
 .img-main-carousel{
     max-height: 400px;
     text-align: center;
   
     

 }
